# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
# .directory
*~

# npm
node_modules/
*.log
*.gz

# VCS
.git
.svn

# dev
demo
__test__
webpack.config.js
.babelrc
.eslintrc.js
.lintstagedrc
.travis.yml
